.App {
  text-align: center;
}

html {
  background-color: black;
  color: white;
}

a {
  color: white;
}

a:visited {
  color: grey;
}

body {
  background: linear-gradient(to top, rgb(38, 39, 39), black);
  height: 100vh;
}
